{% extends "base.twig" %}
{% set body_class = 'collection' %}

{% block content %}
<section class="collection-slideshow hide-mobile">
	<div class="collection-title">
		<h1>{{ post.title }}</h1>
	</div>
	<div class="collection-slides">
		{% for slide in post.desktop_slides %}		
			<div class="collection-slide">
{# 				<div class="slide-overlay left">
					<div class="slide-text">
						<h4>{{ slide.title }}</h4>
						<p>{{ TimberPost(slide.id).post_excerpt }}</p>
					</div>
				</div> #}
				<img src="{{ slide.url }}">
			</div>			
		{% endfor %}
	</div>
</section>
<section class="collection-mobile-slideshow hide-desktop">
	<div class="collection-mobile-slides">
		{% for mobile_slide in post.mobile_slides %}		
			<div class="collection-mobile-slide">
{# 				<div class="slide-overlay left">
					<div class="slide-text">
						<h4>{{ slide.title }}</h4>
						<p>{{ TimberPost(slide.id).post_excerpt }}</p>
					</div>
				</div> #}
				<img src="{{ mobile_slide.url }}">
			</div>			
		{% endfor %}
	</div>
</section>
<section class="collection-grid">
	{% for product in products %}
		<div class="grid-product" data-handle="{{ product.handle }}" >
			<a href="http://shop.urbanzen.com/products/{{ product.handle }}">
				<img src="{{ product.images.0.src }}" alt="{{ product.title }}">
				<h3>{{ product.title }}</h3>		
				 {# {{ function('print_r', product ) }} #}
				<div class="grid-product-price">{% if check_inventory(product) %}
					${{ product.variants.0.price }}{% else %}<span class="sold-out">Sold Out</span>{% endif %}</div>
			</a>
		</div>
	{% endfor %}
</section>
{% endblock %}{# end content #}
