{% extends "base.twig" %}
{% set body_class = 'page-furniture' %}
{% set content_rows = post.content_rows %}

{% block content %}
	<h1>{{ post.post_title }}</h1>
	<p class="page-description">{{ post.post_content }}</p>
	{% if content_rows %}
		<div class="content-rows">
			{% for row in content_rows %}
				<div class="flex-row">
					{% for block in row.content_blocks %}
						{% if block.acf_fc_layout == 'image' %}						
							<div class="{{ block.layout }}">
								<div class="img-wrap">
									<img class="lazyload {% if block.mobile_image %}hide-mobile{% endif %}" data-src="{{ TimberImage(block.image).src }}">
									{% if TimberImage(block.image).caption %}
										<span class="caption">{{ TimberImage(block.image).caption }}</span>
									{% endif %}
									{% if block.mobile_image %}
										<img class="hide-desktop lazyload" data-src="{{ block.mobile_image }}">
									{% endif %}
								</div>
							</div>
						{% else %}
							<div class="{{ block.layout}} text-block">
								<div class="text-content">
									<p>{{ block.text }}</p>
									{% if block.author %}
									<div class="text-author">{{ block.author }}</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
		</div>
	{% endif %}
	
	<div class="inquiry-text">
		{{ post.inquiry_text }}
		<a class="cta-button dark email-popup-trigger">Inquire</a>
		<div class="email-overlay">
			<div class="email-popup">
				<div class="close"><i class="material-icons">close</i></div>
				<h4>{{ post.inquiry_form_title }}</h4>
				<p>{{ post.inquiry_form_text }}</p>
				{{ function('do_shortcode', post.inquiry_form_shortcode) }}
			</div>
		</div>
	</div>

{% endblock %}{# end content #}