{% extends "base.twig" %}
{% set body_class = 'page-home-fall-2018 black-bg' %}
{% set menu_class = 'transparent-bg' %}
{% set page_class = 'full-width-page' %}

{% block content %}
<div class="top-slider">
	{% for hero in post.hero_images %}
		<figure>
			<picture>
  			<source media="(max-width: 1024px)"	srcset="{{ hero.mobile_image }}">
  			<img src="{{ hero.image }}" srcset="{{ hero.image }}">
			</picture>
			<figcaption>
				{% if hero.text %}
					<span>{{ hero.text }}</span>
				{% endif %}
				{% if hero.button_text %}
					<a class="cta-button ivory" href="{{ hero.button_link }}">{{ hero.button_text }}</a>
				{% endif %}
			</figcaption>
		</figure>
	{% endfor %}
	<div class="top-slider-nav slider-dots"></div>
</div>

<div class="category-slider">
	{% for category in post.featured_categories %}
		<figure>
			<picture>
			  <img src="{{ category.image }}">				       
			</picture>
			<figcaption>
				<a href="{{ category.url }}">
				<span>{{ category.text }}</span>
				</a>
			</figcaption>			
		</figure>
	{% endfor %}
</div>

<div class="happenings">
	<h2>{{ post.events_title }}</h2>
	<div class="happening-items">
		{% for event in post.featured_events %}
			<figure>
				{% if event.url %}<a href="{{ event.url }}">{% endif %}
				<picture>
				  <img src="{{ event.image }}">
				</picture>
				<figcaption>
					<span>{{ event.text }}</span>
				</figcaption>
				{% if event.url %}</a>{% endif %}
			</figure>
		{% endfor %}
	</div>
	{% if post.event_button_text %}
		<a href="{{ post.event_button_link }}" class="cta-button ivory">{{ post.event_button_text }}</a>
	{% endif %}
</div>

<div class="page-callouts">
	<h2>{{ post.foundation_title }}</h2>
	<p>{{ post.foundation_text }}</p>
	{% for event in post.foundation_slides %}
		<figure>
			<a href="{{ event.url }}">
				<picture>
				  <img src="{{ event.image }}">
				</picture>
				<figcaption>
					<span>{{ event.text }}</span>
					<a class="cta-button ivory" href="{{ event.button_url }}">{{ event.button_text }}</a>
				</figcaption>
			</a>
		</figure>
	{% endfor %}
	<div class="pages-slider-nav slider-dots"></div>
</div>
{% if post.social_images %}
	<div class="insta-block">
		<h2>{{ post.social_title }}</h2>
		{{ post.social_text }}
		<div class="insta-images">
		{% for insta in post.social_images %}
			<figure>
				<a href="{{ insta.url }}">
					<picture>
					  <img src="{{ insta.image }}">
					</picture>
				</a>
			</figure>
		{% endfor %}
	</div>
{% endif %}
</div>

{% endblock %}