{% extends "base.twig" %}
{% set body_class = 'page-home-fall-2018 black-bg' %}
{% set menu_class = 'transparent-bg' %}
{% set page_class = 'full-width-page' %}

{% block content %}
<div class="top-slider">
	{% for hero in post.hero_images %}
		<figure>
			<picture>
  			<source media="(max-width: 1024px)"	srcset="{{ hero.mobile_image }}">
  			<img src="{{ hero.image }}" srcset="{{ hero.image }}">
			</picture>
			<figcaption>
				{% if hero.text %}
					<span>{{ hero.text }}</span>
				{% endif %}
				<div class="uz-logo">
					{% include 'partials/uz-big-logo.svg' %}
				</div>
				{% if hero.link %}
					<a class="cta-button ivory" target="{{ hero.link.target }}" href="{{ hero.link.url }}">{{ hero.link.title }}</a>
				{% endif %}
			</figcaption>
		</figure>
	{% endfor %}
	<div class="top-slider-nav slider-dots"></div>
</div>

<div class="home-categories">
	<div class="accessories-slider">
		{% for category in post.accessories_slides %}
			{% include 'partials/home-category-item.twig' %}
		{% endfor %}
	</div>
	<div class="category-cards">
		{% for category in post.featured_categories %}
			{% include 'partials/home-category-item.twig' %}
		{% endfor %}
	</div>
</div>

<div class="happenings">
	<h2>{{ post.events_title }}</h2>
	<div class="happening-items">
		<div class="featured-happening">
			{% for event in post.featured_events|slice(0,1) %}
				{% include 'partials/happening-item.twig' with {'event_class': 'featured'} %}
			{% endfor %}
		</div>
		<div class="more-happenings">
		{% for event in post.featured_events|slice(1,99) %}
			{% include 'partials/happening-item.twig' %}
		{% endfor %}
		</div>
	</div>
	<a class="cta-button inquire-button">Inquire</a>
	{% include 'partials/event-form.twig' %}
</div>

<div class="page-callouts">
	<h2>{{ post.foundation_title }}</h2>
	{% if post.foundation_text %}<p>{{ post.foundation_text }}</p>{% endif %}
	<div class="callout-items">
		{% for page in post.foundation_slides %}
			<figure>			
				<a href="{{ page.link.url }}">
					<picture>						
					  	<source media="(max-width: 1024px)"	srcset="{{ page.mobile_image }}">
					  	<source srcset="{{ page.image }}">
  						<img src="{{ page.image }}" srcset="{{ page.image }}">					  
						</picture>
					</a>
					<figcaption>
						<a class="cta-button ivory" target="{{page.link.target}}" href="{{ page.link.url }}">{{ page.link.title }}</a>
					</figcaption>
				
			</figure>
		{% endfor %}
	</div>
	<div class="pages-slider-nav slider-dots"></div>
</div>
{% if post.social_images %}
	<div class="insta-block">
		<h2>{{ post.social_title }}</h2>
		{{ post.social_text }}
		<div class="insta-images">
		{% for insta in post.social_images %}
			<figure>
				<a href="{{ insta.url }}">
					<picture>
					  <img src="{{ insta.image }}">
					</picture>
				</a>
			</figure>
		{% endfor %}
	</div>
{% endif %}
</div>

{% endblock %}