{% extends "base.twig" %}
{% set body_class = 'page-home black-bg' %}
{% set menu_class = 'transparent-bg' %}
{% set page_class = 'full-width-page' %}
{% set hide_footer = false %}
	
{% block content %}
	<div class="homepage-fall">
		<section class="full-slideshow" data-dots="{{ post.dots ? 'true' : 'false' }}">
			<div class="sound-controls"><i class="material-icons"></i>
				<audio>
			  	<source src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/Fall+17+Teaser+Audio.mp3" type="audio/mpeg">
				</audio>
			</div>

			<div class="opening-logos">
				<div class="opening-content">
					<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/uz-logo.svg">
					<div class="opening-text">
						<div class="part-1">
							<span>A Philosophy of Living<br>by Donna Karan</span>
						</div>
					</div>
				</div>
			</div>
			
			{% set slides = post.slides %}
			
			{% if slides %}
				<div class="slides hide-mobile">
					{% for slide in slides %}
						<div class="slide {% if slide.video %}video{% else %}image{% endif %}" style="background-image: url({{ slide.image }});">
							<div class="slide-cover {% if not slide.show_mobile_titles %}mobile-only{% endif %}">						
								<div class="slide-info">
									<h2>{{ slide.title }}</h2> 
									<h3>{{ slide.subtext }}</h3>
									{% if slide.show_link_button %}
										<a class="cta-button gold" href="{{ slide.button_link}}">{{ slide.button_text}}</a>
									{% endif %}
								</div>
							</div>
							{% if slide.video %}
								<video class="lazyload" muted preload="metadata" playsinline poster="">
							  	<source src="{{ slide.video_file }}" type="video/mp4">
								</video>
							{% else %}
								<img src="{{ slide.image }}">
							{% endif %}
							<img class="mobile" src="{{ slide.mobile_image }}"/>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% set slides_mobile = post.slides_mobile %}

			{% if slides_mobile %}
			<div class="slides hide-desktop">
					{% for slide in slides_mobile %}
						<div class="slide image" >
							<div class="slide-cover {% if not slide.show_mobile_titles %}mobile-only{% endif %}">						
								<div class="slide-info">
									<h2>{{ slide.title }}</h2> 
									<h3>{{ slide.subtext }}</h3>
									{% if slide.show_link_button %}
										<a class="cta-button gold" href="{{ slide.button_link}}">{{ slide.button_text}}</a>
									{% endif %}
								</div>
							</div>
							<img class="mobile" src="{{ slide.image }}"/>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="full-slideshow-nav"></div>
		</section>
	</div>
{% endblock %}{# end content #}