{% extends "base.twig" %}
{% set body_class = 'page-modern-souls-collection page-lookbook-modern-no-zoom' %}

{% block content %}
<div class="sixteen columns">
	<div class="header-title">
		<h1>Modern Souls Collection</h1>
		<p>The following looks may not be available for purchase.</p>
	</div>
	<div class="negative-margins">
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_1_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_1_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap" shop-the-look="shop-the-look-1">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_2_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_2_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap" shop-the-look="shop-the-look-2">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_3_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_3_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap" shop-the-look="shop-the-look-2">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_4_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_4_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_5_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_5_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_6_Blue2.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_6_Blue2.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_7_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_7_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection"  />
				</div>
			</div>
			<div class="mobile_hidden eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_8_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_8_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_9_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_9_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_10_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_10_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_11_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_11_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_12_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_12_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_13_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_13_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_14_Blue.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_14_Blue.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_15_Suede.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_15_Suede.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_16_Suede.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_16_Suede.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_17_Suede.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_17_Suede.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_18_Suede.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_18_Suede.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_19_Suede.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_19_Suede.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_20_Suede.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_20_Suede.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_21_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_21_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_22_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_22_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_23_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_23_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_24_JS.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_24_JS.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_25_JS.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_25_JS.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_26_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_26_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_27_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_27_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_28_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_28_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_29_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_29_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_30_Knit.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_30_Knit.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_31_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_31_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_32_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_32_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_33_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_33_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_34_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_34_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_35_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_35_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_36_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_36_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_37_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_37_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection"  />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_38_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_38_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_39_Black.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_39_Black.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_40_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_40_White.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_41_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_41_White.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_42_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_42_White.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_43_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_43_White.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_44_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_44_White.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_45_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_45_White.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_46_White.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_46_White.jpg' }}" alt="Urban Zen - Modern Souls Collection"  /></div>
			</div>
		</div>
		<div class="image-row">
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_47_Napa.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_47_Napa.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_48_Napa.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_48_Napa.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_49_Napa.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_49_Napa.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_50_CowlDress.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_50_CowlDress.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_51_CowlDress.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_51_CowlDress.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_52_CowlDress.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_52_CowlDress.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_53_CowlDress.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_53_CowlDress.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_54_Devore.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_54_Devore.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_55_Devore.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_55_Devore.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_56_Devore.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_56_Devore.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
		<div class="image-row">
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_57_Devore.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_57_Devore.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="mobile_hidden four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="320" height="480" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_58_Devore.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_58_Devore.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
			<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
				<div class="flexwrap">
					<img class="lazyload" width="480" height="351" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_59_Devore.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_59_Devore.jpg' }}" alt="Urban Zen - Modern Souls Collection" />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}{# end content #}