{% extends "base.twig" %}
{% set body_class = 'page-journey-collection page-lookbook-journey' %}

{% block content %}
<div class="header-title">
	<h1>My Journey Collection</h1>
	<p>The following looks may not be available for purchase.</p>
</div>
<div class="negative-margins">
<div class="align_left shop-container">
<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_4.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_4.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_5.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_5.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection" />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_6.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_6.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_7.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_7.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_8.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_8.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection" />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_9.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_9.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_10.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_10.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_11.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_11.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_12.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_12.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_13.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_13.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_14.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_14.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_15.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_15.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_16.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_16.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection" />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_17.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_17.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection" />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_18.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_18.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_19.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_19.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_20.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_20.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_21.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_21.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_22.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_22.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_23.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_23.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_24.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_24.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection"  />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_25.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_25.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection" />
		</div>
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<div class="flexwrap">
			<img width="100%" height="auto" src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/transparent.gif' }}" data-src="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_26.jpg' }}" data-src-retina="{{ 'https://s3.amazonaws.com/site-global/Shopify+Assets/LB_My_Journey_26.jpg' }}" class="lazyload" alt="Urban Zen - My Journey  Collection" />
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}{# end content #}