{% extends "base.twig" %}
{% set body_class = 'page-past-collections' %}

{% block content %}
	<div class="past-collections">
		<div class="container">
			<h1>{{ post.title }}</h1>
			<p>{{ post.post_content }}</p>
		</div>
		<div class="collections">
		
		{% for collection in post.past_collections %}
			<div class="collection">
				<img class="lazyload hide-mobile" data-src="{{ collection.image }}">
				<img class="lazyload hide-desktop" data-src="{{ collection.mobile_image }}">
					<div class="collection-info">
						<h2>{{ collection.title }}</h2>
						<div class="collection-links">
							{% if collection.campaign %}
								<a href="{{ collection.campaign }}">Campaign</a>
							{% endif %}
							{% if collection.collection %}
							<a href="{{ collection.collection }}">Collection</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}{# end content #}