{% extends "base.twig" %}
{% set body_class = 'page-santa-fe' %}
{% set content_rows = post.content_rows %}

{% block content %}
	<div class="load-after">
		<img src="{{ post.thumbnail.src }}" class="hide-mobile">
		<img src="{{ post.banner_image_mobile }}" class="hide-desktop">
	</div>

	<div class="container">
		<div class="text-container">
			{{ post.richtext }}
		</div>
		
		<div class="santa-fe-outfits">
			{% for outfit in post.outfits %}
				{% if loop.index is odd	%}
					<div class="flex-row">
				{% endif %}
					<div class="outfit">	
						<img src="{{ outfit.image }}" >

						<div class="captions">
							{% for caption in outfit.captions %}
								<span class="caption">
									{{ caption.text }}
									<div class="caption-popup">{{ caption.popup_text }}</div>
								</span>{% if not loop.last %}, {% endif %}
							{% endfor %}
						</div>

					</div>

				{% if loop.index is even	%}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		
		{% if content_rows %}
			{% include 'partials/content-rows.twig' %}
		{% endif %}
</div>
	<div class="designer-overlay">
		<div class="popup-area">
			<div class="material-icons close-overlay">close</div>
			<div class="caption-content"></div>
			<a class="cta-button dark">back to looks</a>
		</div>
	</div>
{% endblock %}{# end content #}