{% extends "base.twig" %}
{% set body_class = 'page-shop-by-look' %}

{% block content %}
<div class="shop-by-look">
	<h1>{{ post.post_title }}</h1>
	<p>{{ post.post_content }}</p>
	<a class="cta-button dark" data-target="#look-2-tuarag-jewels-single-square-pendant">preview part II</a>
	<div class="shop-by-looks" data-shop-by-looks="">
		<div class="look-row sample-row">
		</div>
		<div class="look sample-look loaded">
			<img src="">
			<div class="look-product-links" data-product-links=""></div>
		</div>
		<div class="quick-shop sample-quick-shop">
			<div class="close" data-close=""><i class="material-icons">close</i></div>
			<img class="product-image" data-quick-image="" src="">
			<div class="quick-details">
				<h2 data-quick-title=""><a href=""></a></h2>
				<span data-quick-price="" class="quick-price"></span>
				<div class="quick-colors" data-colors>
					<div class="color-label">Color: <span data-color-label></span></div>
				</div>	
				<form>
					<input name="productId" type="hidden" value="" data-product-id="">	
					<span class="quick-variant-label">Size</span>
					<div class="product-variants" data-product-variants="">
					</div>
					<button type="submit" value="Add to cart">Add to Bag</button>
				</form>
			</div>
		</div>

		{% for row in post.rows %}
			<div class="look-row">
				{% for look in row.looks %}
					<div class="look {{ look.layout }} {% if look.hide_mobile %}hide-mobile-look{% endif %}">
						{% if look.layout == 'callout' %}
							<p>{{ look.callout_message }}</p>
						{% else %}
							<img class="mobile-image" src="{{ look.mobile_image }}"/>
							<img src="{{ look.image }}">
						{% endif %}
						{% if look.products %}
							<div class="look-product-links" data-product-links="">
								{% for product in look.products %}
									<a id="look-{{ loop.index }}-{{ product.handle }}" {% if product.handle %} href="http://shop.urbanzen.com/products/{{ product.handle }}"{% endif %}>{{ product.title }}</a>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<p>Sunglasses, headbands and leather hat are stylist’s own wardrobe.
	</p>
</div>
{% endblock %}{# end content #}