{% extends "base.twig" %}
{% set body_class = 'page-text' %}

{% block content %}
	<div class="text-page">
		<div class="image-header" style="background-image:url({{ post.thumbnail.src }});">
			<h1 style="color:{{ post.title_color }}">{{ post.title }}</h1>
		</div>
		<div class="text-blocks">
			{% for block in post.blocks %}
				{% if block.acf_fc_layout == 'text' %}
					<div class="block-text">
						{{ block.text }}
					</div>
				{% elseif block.acf_fc_layout == 'heading' %}
					<div class="block-heading">
						<h2>{{ block.text }}</h2>
					</div>
				{% elseif block.acf_fc_layout == 'accordian' %}
					<div class="block-accordian">
						<div class="accordian-title">{{ block.title }}<div class="material-icons accordian-arrow"></div></div>
						<div class="accordian-text">{{ block.text }}</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}{# end content #}