<div class="content-rows">
	{% for block in content_rows %}
		<div class="content-row {{ block.parallax ? 'no-padding' }} layout-{{block.acf_fc_layout }}" id="row_{{ loop.index }}">
				{% if block.acf_fc_layout == 'centered_slideshow' %}
					<div class="centered-slideshow">
						<div class="slideshow-title">{{ block.title }}</div>
						<div class="slides {% if block.full_height %}full-height{% endif %}" data-dots="{{ block.dots }}">
						{% for slide in block.images %}
								<figure>
									{% if slide.video %}
										<video class="hide-mobile" playsinline autoplay muted loop>
										  <source src="{{ slide.video_desktop }}" type="video/mp4">							
										</video>
									<picture class="hide-desktop">
						  			<img src="{{ slide.mobile_gif }}"/>
									</picture>
									{% else %}
									<picture>
						  			<source media="(max-width: 768px)"	srcset="{{ slide.mobile_image }}">
						  			<img src="{{ slide.image }}" srcset="{{ slide.image }}">
									</picture>
									{% endif %}
									<figcaption>
										{% if slide.text %}
											<span>{{ slide.text }}</span>
										{% endif %}
										
										{% if slide.svg_overlay %}
											<div class="overlay-svg {{ slide.svg_position }} {{ slide.down_prompt ? 'down-prompt' }}">
												<img src="{{ slide.svg_overlay }}" alt="">
											</div>
										{% endif %}
										{% if slide.link %}
											<a class="cta-button ivory" target="{{ slide.link.target }}" href="{{ slide.link.url }}">{{ slide.link.title }}</a>
										{% endif %}
									</figcaption>
								</figure>
						{% endfor %}
						</div>
						{% if block.svg_overlay %}
							<div class="overlay-svg {{ block.svg_position }} {{ block.down_prompt ? 'down-prompt' }}">
								<img src="{{ block.svg_overlay }}" alt="">
							</div>
						{% endif %}
						{% if block.down_prompt %}
							<div class="down-arrow" data-target="#row_{{ loop.index + 1}}">{{ block.down_prompt_text }}</div>
						{% endif %}
						
					</div>
				{% elseif block.acf_fc_layout == "image_text" %}
					<div class="image-text-block">
						<div class="image-text-image">
							<img class="lazyload" data-src="{{ block.image }}">
						</div>
						<div class="image-text-text">
							<h2>{{ block.title }}</h2>
							<div class="text-content">{{ block.text }}</div>
						</div>
					</div>				
				{% elseif block.acf_fc_layout == 'isotope_images' %}
					<div class="iso-images hidden" data-gallery-id="gallery-{{loop.index }}">
						<div class="iso-image-sizer"></div>
						{% for slide in block.images %}
							<div class="iso-image {{ slide.alt }}">
								{% if slide.caption %}
									<div class="iso-caption">{{ function('nl2br', slide.caption) }}</div>
								{% endif %}
									<img class="lazyload" src="{{ slide.url }}" title="{{ slide.caption }}"/>
								
							</div>
						{% endfor %}
					</div>
				{% elseif block.acf_fc_layout == 'image_slider' %}						
					{% if block.images %}
						<div class="image-slider hide-mobile">
							{% for image in block.images %}								
									<img class="lazyload" src="{{ image.url }}" data-caption="{{ image.caption }}" />
							{% endfor %}
							<div class="image-slider-caption"><p>{{ block.images.0.caption }}</p></div>
						</div>

					{% endif %}	
					{% if block.mobile_images %}
						<div class="image-slider hide-desktop">
							{% for image in block.mobile_images %}
								<img class="lazyload" src="{{ image.url }}"/>
							{% endfor %}
							<div class="image-slider-caption"><p>{{ block.images.0.caption }}</p></div>
						</div>
					{% endif %}
				{% elseif block.acf_fc_layout == 'text' %}
					<div class="campaign-text {{ block.black_background ? 'black-background' }}">
						{% if block.title %}
							<h2>{{ block.title }}</h2>
						{% endif %}

						{% if block.subtitle %}
							<h4>{{ block.subtitle }}</h4>
						{% endif %}
						{% if block.button_link %}
							<a href="{{ block.button_link.url }}" target="{{ block.button_link.target }}" class="cta-button {{ block.black_background ? 'light' : 'dark' }}">{{ block.button_link.target }}</a>		
						{% endif %}
					</div>
				{% elseif block.acf_fc_layout == 'video' %}
					<div class="campaign-video">
						<div class="inner-container">
							<div class="vimeo-wrapper hide-mobile">
								<iframe class="" src="https://player.vimeo.com/video/{{ block.vimeo_id }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
							<div class="mobile-video hide-desktop">
								<div class="video-item" data-video-id="{{ block.vimeo_id }}">
									<img class="lazyload" data-src="{{ block.thumbnail }}">
									<div class="play-icon">
										<i class="material-icons">play_arrow</i>
									</div>
								</div>

							</div>
						</div>
					</div>
				{% elseif block.acf_fc_layout == 'single_image' %}
					<div class="single-image {{ block.full_width ? 'full-width' }}">
						{{ block.full_width ? '' : '<div class="inner-container">' }}
  						<img class="{{ block.parallax ? 'parallax' }} hide-mobile" src="{{ block.image }}"/>
						
						<img class="hide-desktop" src="{{ block.mobile_image }}"/>
						<span class="caption">{{ block.caption }}</span>
						{{ block.full_width ? '' : '</div>' }}
					</div>
				{% elseif block.acf_fc_layout == 'two_images' %}
					<div class="inner-container">							
						<div class="two-images">
							{% for image in block.images %}
								<div class="half-image">
									<div class="image-content">
										{% if image.title %}
											<h2>{{ image.title }}</h2>
										{% endif %}
										{% if image.subtitle %}
											<h4>{{ image.subtitle }}</h4>
										{% endif %}
										<img class="lazyload hide-mobile" src="{{ image.image }}">
										<img class="lazyload hide-desktop" src="{{ image.mobile_image }}">
										<span class="caption">{{ image.caption }}</span>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% elseif block.acf_fc_layout == 'shortcode' %}
					<div class="shortcode">
						{{ function('do_shortcode', block.shortcode_text) }}
					</div>
				{% elseif block.acf_fc_layout == 'richtext' %}
					<div class="richtext text-{{ block.text_color }} align-{{ block.text_position }}">
						<div class="text-content">
							{{ block.text }}
							{% if block.button_link %}
								<a class="cta-button white" target="{{block.button_link.target}}" href="{{ block.button_link.url }}">{{ block.button_link.title }}</a>
							{% endif %}
						</div>
					</div>

					{% if block.background_image %}
						<img class="row-bg" src="{{ block.background_image }}"/>
					{% endif %}
				{% endif %}
			</div>
	{% endfor %}
</div>