<figure>
	<picture>
	  <img src="{{ category.image }}">				       
	</picture>
	<figcaption class="{{ category.caption_position }}">				
			<p>{{ category.text }}</p>
		{% if category.vimeo_id %}
			<a class="video-item" data-video-id="{{ category.vimeo_id }}">
				{{ category.link.title }}
			</a>
	{% endif %}
	</figcaption>			
</figure>