<figure>
	<picture>
	  <img src="{{ category.image }}">				       
	</picture>
	<figcaption class="{{ category.caption_position }}">				
			<p>{{ category.text }}</p>					
		<a target="{{ category.link.target }}" href="{{ category.link.url }}">
			{{ category.link.title }}
		</a>
	</figcaption>			
</figure>